.navbar {
    border-radius: 0px;
}
.navbar-default 
{
    background: #962828;
    color: #fff;
    margin-bottom: 0px;
    border: 0px;
}
.navbar-collapse
{
      border-top: none;
      -webkit-box-shadow:none;
}

.navbar-header .navbar-toggle .icon-bar {
    background-color: black;
}
.navbar-header .navbar-toggle .glyphicon {
    color: black;
}
.navbar-header .navbar-toggle
{
    border: none;
    margin: 8px 15px;
}
.navbar-header .navbar-toggle:hover, .navbar-toggle:active {
    background-color: transparent;
    outline: none !important;
}

.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  width: auto;
  padding: 2px 10px;
}


.btn:hover, .btn-large:hover, .btn-floating:hover {
    box-shadow: none;
}
a:active, a:hover {
    outline: 0;
}

nav ul a.btn, nav ul a.btn-large, nav ul a.btn-large, nav ul a.btn-flat, nav ul a.btn-floating {
  margin-top: -2px;
  margin-left: 15px;
  margin-right: 15px;
}


.carousel-inner .img-responsive {
  width:100%;
}
