body
{
    background-color: #E4E4E4;
    font-family: "Lucida Grande","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.navbar {
    border: 0px;
    border-radius: 0px;
    position: fixed;
    z-index: 10;
    width: 100%;
}


.navbar-default 
{
    background: #962828;
    color: #fff;
    margin-bottom: 0px;
}
.navbar-header .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-header .navbar-toggle .glyphicon {
    color: #fff;
}
.navbar-header .navbar-toggle
{
    border: none;
    margin: 8px 15px;
}
.navbar-header .navbar-toggle:hover, .navbar-toggle:active {
    background-color: transparent;
    outline: none !important;
}
.navbar-collapse
{
      border-top: none;
      box-shadow: none;
      -webkit-box-shadow:none;
}
.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  width: auto;
  padding: 2px 10px;
}

.nopadding {
   padding-left: 0 !important;
   padding-right: 0 !important;
}
.row
{
    background-color: #fff;
}
.row-header
{
    background-color: #fff;
    padding: 5px;
    border-bottom: 2px solid #E4E4E4;
}
.row-data
{
    background-color: #fff;
    margin: 5px 0px;
}
.transparent
{
    background-color: transparent;
}

.margin-bottom
{
    margin-bottom: 10px;
}
.section-header
{
    /*font-weight: 400;*/
    margin: 10px;
    color: #000;
    font-size: 21px;
}




.btn:hover, .btn-large:hover, .btn-floating:hover {
    box-shadow: none;
}
a:active, a:hover {
    outline: 0;
}

nav ul a.btn, nav ul a.btn-large, nav ul a.btn-large, nav ul a.btn-flat, nav ul a.btn-floating {
  margin-top: -2px;
  margin-left: 15px;
  margin-right: 15px;
}
.navbar-default .navbar-nav>li>a,.navbar-default .navbar-nav .open .dropdown-menu>li>a
{
    color: #FFF;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover
{
    color: #000;
}




.btn, .btn-large, .btn-flat {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  outline: 0;
  padding: 0 2rem;
  /*text-transform: uppercase;*/
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}

.btn, .btn-large {
    outline: none !important;
    box-shadow:none;
    border-radius: 18px;
    width: 200px;
    text-decoration: none;
    color: #000;
    background-color: #51B7C1;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
}



.btn-large {
    border-radius: 27px;
    height: 54px;
    font-size: 20px;
}

.btn.disabled, .disabled.btn-large,
.btn-floating.disabled,
.btn-large.disabled,
.btn:disabled
.btn-large:disabled, .btn-large:disabled .btn-large:disabled,
.btn-floating:disabled {
  background-color: #DFDFDF !important;
  box-shadow: none;
  color: #9F9F9F !important;
  cursor: default;
}

.btn.disabled *, .disabled.btn-large *,
.btn-floating.disabled *,
.btn-large.disabled *,
.btn:disabled
.btn-large:disabled *, .btn-large:disabled .btn-large:disabled *,
.btn-floating:disabled * {
  pointer-events: none;
}

.btn.disabled:hover, .disabled.btn-large:hover,
.btn-floating.disabled:hover,
.btn-large.disabled:hover,
.btn:disabled
.btn-large:disabled:hover, .btn-large:disabled .btn-large:disabled:hover,
.btn-floating:disabled:hover {
  background-color: #DFDFDF !important;
  color: #9F9F9F !important;
}
.btn:disabled, .btn-large:disabled {
    outline: 0;
    box-shadow:none;
    border-radius: 20px;
    width: 200px;
    text-decoration: none;
    background-color: #000;
    color: #000;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
}

.primary
{
    background-color: #51B7C1;
    border: 1px solid #51B7C1;
}

.primary:hover {
    background-color: #51B7C1;
}
.secondary
{
    background-color: #fff;
    border: 1px solid #51B7C1;
}
.secondary:hover {
    background-color: #fff;
}

.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  transition: all .3s ease-out;
}

.waves-effect.waves-light .waves-ripple {
  background-color: rgba(255, 255, 255, 0.45);
}

.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  opacity: 0;
  background: rgba(116, 197, 205, 0.4);
  transition: all 0.7s ease-out;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transform: scale(0);
          transform: scale(0);
  pointer-events: none;
}


.btn-floating {
  text-decoration:none;
  display: inline-block;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 37px;
  height: 37px;
  font-size: 30px;
  padding: 0;
  background-color: #51B7C1;
  border-radius: 50%;
  transition: .3s;
  cursor: pointer;
  vertical-align: middle;
}

.btn-floating:hover {
  background-color: #51B7C1;
  color: #fff;
}

.btn-floating:before {
  border-radius: 0;
}

.btn-floating.btn-large {
    display: table-cell;
    vertical-align: middle;
  width: 55.5px;
  height: 55.5px;
}

button.btn-floating {
  border: none;
}


a {
    color: #51B7C1;
    text-decoration: none;
}
a:visited {
    color: #468E96;
}

a:focus, a:active, a:hover {
    outline: 0;
    text-decoration: none;
    color: #51B7C1;
}
.a-color-secondary {
    color: #555!important;
}
.a-size-large {
    font-size: 2rem!important;
    line-height: 1.4!important;
}

/*carousel related code start*/

.carousel-cell {
  width: 100%;
  /*margin-right: 10px;*/
  background: #fff;
  counter-increment: carousel-cell;
}

.carousel-cell>img {
    display: block;
    width: 100%;
    height:  100%;
    margin: 0 auto;
}
.carousel-cell>a>img {
    display: block;
    width: 100%;
    height:  100%;
    margin: 0 auto;
}
.carousel-caption
{
    text-shadow: none;
}

/* white circles */
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid #51B7C1;
}

/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: #51B7C1;
}
/*carousel related code end*/


/*scrollable related code*/
ol.scrollable,ol.portal-list-members.scrollable{white-space:nowrap;overflow-x:scroll;overflow-y:hidden;position:static;max-width:none;padding-top: 10px;padding-bottom: 10px;-ms-overflow-style:-ms-autohiding-scrollbar;-webkit-padding-start: 15px;}

ol.scrollable::-webkit-scrollbar,ol.portal-list-members.scrollable::-webkit-scrollbar{display:none}

ol.scrollable>li.group{width:140px;float:none;display:inline-block;margin:0 10px 0 0;padding-bottom:0;vertical-align:top}
ol.scrollable .rate-limited,ol.portal-list-members.scrollable .rate-limited{width:220px;white-space:normal;text-align:center}

ol.scrollable .rate-limited a.load-next-page,ol.portal-list-members.scrollable .rate-limited a.load-next-page{display:block;color:#444;font-weight:500;padding-top:40px}
ol.scrollable .rate-limited span,ol.portal-list-members.scrollable .rate-limited span{font-size:12px;display:block;padding:8px 12px;font-weight:normal;color:#999;line-height:1.3}
ol.scrollable .rate-limited span a,ol.portal-list-members.scrollable .rate-limited span a{display:inline-block}

/*ol.scrollable:after,ol.scrollable:before,ol.portal-list-members.scrollable:after,ol.portal-list-members.scrollable:before{content:" ";position:absolute;top:0;width:20px;height:100%;z-index:1}
ol.scrollable:after,ol.portal-list-members.scrollable:after{right:0;background:linear-gradient(to right, rgba(244,244,244,0), #f4f4f4);visibility:visible}
ol.scrollable.is-scrolled:before,ol.portal-list-members.scrollable.is-scrolled:before{left:0;background:linear-gradient(to right, #f4f4f4, rgba(244,244,244,0))}*/


ol.scrollable div.processing,ol.portal-list-members.scrollable div.processing{display:inline-block;padding-top:20px;padding-bottom:20px;margin-top:70px;margin-right:10px;background-color:transparent;width:168px;background-position:94px 50%}
.scrollable-content-container{position:relative}
.scrollable-content-container ol{margin-top:20px}
ol.scrollable .attribution,ol.scrollable .extras,ol.scrollable .tools{display:none}
ol.scrollable li div.jio a.jio-over{bottom:10px}

ol li.group div.jio-img{max-width:100%;
/*height:0;padding-bottom:120%;*/
overflow:hidden}
ol li.group div.jio-img img{max-width:100%}


/*scrollable related code end*/


._7g8azM:before {
    content: ".";
    position: absolute;
    left: 0;
    border-left: 2px solid #B4B5B4;
    height: 60%;
    color: transparent;
    top: 10px;
}

.product-details-text
{
    font-size: 11px;
    color: #999999;
}
.compare
{
    bottom: 10px;
    position: absolute;
    display: inline-block;
    color: #000;
    font-size: 12px;
    /*overflow: hidden;
    position: relative;
    padding: 10px 10px;
    display: block;
    text-decoration: none;
    color:#51B7C1;
    font-size: 12px;*/
}






/*.box {
  width: 200px; height: 300px;
  position: relative;
  border: 1px solid #BBB;
  background: #EEE;
}*/
.ribbon {
  position: absolute;
  right: 8px; 
  top: 1px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  color: #FFF;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #DA071F;
  position: absolute;
  top: 19px; 
  /*right: -21px;*/
}

/*Plan*/
.nav-pills>li {
    float: left;
}
.nav-pills>li>a {
     border-radius: 0px; 
     color: #000;
    padding-top: 15px;
    padding-bottom: 15px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #51B7C1; 
    border-bottom: 3px solid;
    background-color: transparent;
}

.card {
    position: relative;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 10px;
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px;
    overflow: hidden;
}
.card .card-image {
    position: relative;
    width: 100%;
    height: 100%;
        margin: 0 auto;
        display: block;
        border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -moz-top-border-radius: 10px; 
    -webkit-top-border-radius: 10px;
}
.card .card-image-content {
    font-size: 21px;
    position: absolute;
    right: 0;
    bottom: 0px;
    left: 0;
    padding: 5px 10px;
    z-index: 10;
    color: #FFFFFE;
    background-color: rgba(0, 0, 0, 0.5);
}
.card .card-content {
    padding: 20px;
    border-radius: 0 0 2px 2px;
}
.right {
    float: right !important;
}
.left {
    float: left !important;
}
.below-menu-fixed
{
    box-shadow: 0 2px 20px -4px rgba(0,0,0,.7);
    background-color: #fff;
    left: 0px;
    height:44px;position: fixed;
    width: 100%;
    font-weight: 700;
    z-index:5;
    bottom: -44px;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: -webkit-transform .2s ease-out;
    transition: transform .2s ease-out;
    will-change: transform;
}
.product-price
{
    font-size: 21px;
    color: #000;
    margin-top: 5px;
}
